<!-- About Section --> 
<section id="about" class="py-5 bg-light">
  <div class="container" data-aos="fade-right">
    <h2 class="text-center fw-bold mb-4">About Me</h2>
    <p class="lead text-center"> Hi! I'm Shadia — a passionate developer with a strong foundation in web technologies, artificial intelligence, and creative problem-solving.  
I enjoy building clean, user-friendly interfaces and transforming ideas into meaningful digital experiences. 
</p>
   <p class="lead text-center"> </p>
  </div>
</section>




