<section class="py-5 bg-white" id="projects">
  <div class="container" data-aos="fade-up">
    <h2 class="text-center mb-4">Projects</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let project of projects">
        <div class="card shadow-sm">
           <img [src]="project.image" class="card-img-top" alt="Project Image">
          <div class="card-body">
            <h5>{{ project.title }}</h5>
            <p>{{ project.description }}</p>
             <p>
              <span style="font-weight: 700; color: #1a1a1a;">Technologies Used:</span> {{ project.Technologies }}
            </p>
            <!-- <a [href]="project.link" target="_blank" class="btn btn-green-primary">View</a> -->
             <a [href]="project.link" target="_blank" class="btn btn-green-primary" style="border: 2px solid #1a4c26;">View</a>
           

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
