
<section class="py-5 bg-white" id="projects">
  <div class="container" data-aos="fade-up">
    <h2 class="text-center mb-4">Projects</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let project of projects">
        <div class="card shadow-sm mb-4">
          <img [src]="project.image" class="card-img-top" alt="Project Image">
          <div class="card-body">
            <h5>{{ project.title }}</h5>
            <p>{{ project.description }}</p>
            <p>
              <strong>Technologies Used:</strong> {{ project.technologies }}
            </p>

            <div class="d-flex flex-wrap gap-2 mt-3">
              <a *ngIf="project.live" [href]="project.live" target="_blank" class="btn btn-success btn-sm">Live Demo</a>
              <a *ngIf="project.github" [href]="project.github" target="_blank" class="btn btn-dark btn-sm">GitHub</a>
              <a *ngIf="project.video" [href]="project.video" target="_blank" class="btn btn-danger btn-sm">Video</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
